.header{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
    margin-left: 0;
    height: 4vh;
}
.content{
    cursor: pointer;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
    z-index: 10;
    position: relative;
    height: 4vh;
}

.wrapper{
    width: 100vw;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.input-filters{
    display: flex;
    flex-direction: row;
}

.mb-3{
    margin: 10px;
}